* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}
[data-container] {
  width: min(100% - 1.5rem, 60rem);
  margin-inline: auto;
}
body {
  font-size: 15px;
  font-family: 'Alata';
}
h1,
h2,
h3 {
  font-family: 'Josefin Sans';
  font-weight: 300;
}
header {
  position: relative;
  width: 100%;
  padding-block: 3rem;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.hero-image > source,
.hero-image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
img[alt='logo'] {
  z-index: 3;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav ul.desktop li:not(:last-child) {
  margin-right: 1rem;
}
nav ul li a {
  color: var(--white);
  position: relative;
  transition: letter-spacing 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav ul li a:focus {
  outline: none;
}

nav ul li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--white);
  bottom: 0;
  transform: scaleX(0);
  transition: 0.5s ease;
}

nav ul li a:hover::before,
nav ul li a:focus::before {
  transform: scaleX(100%);
}
nav ul li a:focus {
  letter-spacing: 1px;
}
ul.mobile {
  display: none;
}
.menu {
  display: none !important;
  position: relative;
  width: 2.4rem;
  aspect-ratio: 1;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu::before,
.menu::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--white);
  left: 0;
  transition: 0.5s ease;
  border-radius: 2px;
}
.menu::before {
  transform: translateY(-13px);
  box-shadow: 0 12px 0 var(--white);
}
.menu::after {
  transform: translateY(10px);
}
.menu.active::before {
  transform: translateY(0) rotate(45deg);
  box-shadow: 0 0 0 transparent;
}
.menu.active::after {
  transform: translateY(0) rotate(-45deg);
}

.hero-text {
  margin-top: 3rem;
  border: 2px solid var(--white);
  padding: clamp(0.4rem, 2vw, 1.2rem);
  display: inline-block;
}
.hero-text h1 {
  font-size: clamp(2.6rem, 8vw + 0.8rem, 3.2rem);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Josefin Sans';
  font-weight: 300;
}
main {
  padding-block: 5rem;
}
section.first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}
main picture {
  width: min(100%, 30rem);
  overflow: hidden;
}
picture img,
picture source {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-text-content {
  width: min(100%, 30rem);
  padding: 2.5rem 2.5rem 1rem;
  background: var(--white);
  transform: translate(-25%, 28%);
}
.main-text-content h2 {
  font-size: 2rem;
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.main-text-content p {
  color: var(--very-dark-gray);
}
section.second .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-heading h2 {
  text-transform: uppercase;
  text-align: center;
}
.section-heading a {
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  border: 1.5px solid var(--dark-gray);
  color: var(--black);
  letter-spacing: 2px;
  font-family: 'Josefin Sans';
}
@media (max-width: 680px) {
  ul.desktop {
    display: none;
  }
  ul.mobile {
    padding: 0.5rem;
    display: block;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: translateY(100%);
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--black);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  ul.mobile.expand {
    user-select: initial;
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }
  ul.mobile li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  nav ul li a {
    font-size: 1.7rem;
  }
  .menu {
    display: block !important;
  }
  header {
    min-height: 60vh;
  }
  .hero-text {
    display: block;
  }
  section.first {
    flex-direction: column;
  }
  section.first > :first-child {
    margin-bottom: 0.5rem;
  }
  .main-text-content {
    transform: unset;
    text-align: center;
  }
  .main-text-content h2 {
    font-size: 1.8rem;
  }
  .section-heading a {
    display: none;
  }
  .section-heading h2 {
    margin-inline: auto;
  }
}
@media (max-width: 340px) {
  .hero-text h1 {
    font-size: 2.4rem;
  }
}
